<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AniMatch - Recommendation </title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <div class="logo"><a class="logo-design" th:href="@{/}">AniMatch</a></div>
    <ul class="nav-links">
        <li><a th:href="@{/browse}">Browse</a></li>
        <li><a th:href="@{/airing}">Airing</a></li>
        <li><a th:href="@{/upcoming}">Upcoming</a></li>
        <li><a th:href="@{/magazines}">Magazines</a></li>

    </ul>
    <div class="nav-right">
        <button class="btn-search">⌕</button>
        <button class="btn-primary">Start Watching</button>
    </div>
</nav>
<section class="browse-hero">
    <div class="hero-bg"></div>
    <div class="browse-hero-content">
        <div class="hero-badge">
            <div class="badge-dot"></div>
            EXPLORE THE COLLECTION
        </div>
        <h1 class="browse-title">Recommendation<span> Mania</span></h1>
        <div class="browse-anime-grid">
            <div class="browse-anime-card" th:each="anime : ${recommend}" target="_blank">
                <a th:href="${anime.entry[0].url}" target="_blank">
                    <div class="browse-anime-thumb">
                        <img th:src="${anime.entry[0].images.jpg.largeImageUrl}" alt="anime-image" class="thumb-art"/>

                    </div>
                    <div class="browse-anime-info">
                        <div class="browse-anime-name" th:text="${anime.entry[0].title}"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>